<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>HS | New Appointments </title>

    <link href="../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../assets/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../assets/css/animate.css" rel="stylesheet">
    <link href="../assets/css/plugins/jQueryUI/jquery-ui-1.10.4.custom.min.css" rel="stylesheet">
    <link href="../assets/css/plugins/jqGrid/ui.jqgrid.css" rel="stylesheet">
    <link href="../assets/css/style.css" rel="stylesheet">

    <style>
        /* Additional style to fix warning dialog position */
        #alertmod_table_list_2 {
            top: 900px !important;
        }

    </style>
</head>

<body>

    <div id="wrapper">

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <img alt="image" class="rounded-circle" src="../assets/img/profile_small.jpg"/>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="block m-t-xs font-bold">Dr. Simon Byamukama</span>
                                <span class="text-muted text-xs block">Department Director <b class="caret"></b></span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a class="dropdown-item" href="/profile">Profile</a></li>
                                <li><a class="dropdown-item" href="/employee_profiles">Employees profiles</a></li>
                                <li><a class="dropdown-item" href="/mailbox">Mailbox</a></li>
                                <li class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="/logout">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            HS
                        </div>
                    </li>
                    <li >
                        <a href="/dashboard"><i class="fa fa-th-large"></i> <span class="nav-label">Dashboards</span></a>
                        <ul class="nav nav-second-level">
                            <li class="active"><a href="/dashboard">Department</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="mailbox.ejs"><i class="fa fa-envelope"></i> <span class="nav-label">Mailbox </span><span class="label label-warning float-right">16/24</span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="/mailbox">Inbox</a></li>
                            <li><a href="/mail_compose">Compose email</a></li>
                        </ul>
                    </li>
                    <li class="active">
                        <a href="#"><i class="fa fa-newspaper-o"></i> <span class="nav-label">Appointments</span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="/all_appointments">New appointments</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user"></i> <span class="nav-label">Patients</span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="/all_patients">All Patients</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-user-md"></i> <span class="nav-label">Employees</span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="/all_employees">Employees</a></li>
                            <li><a href="/employee_profiles">Employees Profiles</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-money"></i> <span class="nav-label">Transactions</span></a>
                        <ul class="nav nav-second-level collapse">
                            <li><a href="/transactions">All transactions </a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
        </div>
            <ul class="nav navbar-top-links navbar-right">
                <li>
                    <a href="/logout">
                        <i class="fa fa-sign-out"></i> Log out
                    </a>
                </li>
            </ul>

        </nav>
        </div>
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>All Appointments</h2>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active">
                            <strong>All Appointments </strong>
                        </li>
                    </ol>
                </div>
            </div>
        <div class="wrapper wrapper-content  animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox ">
                        <div class="ibox-title">
                            <h5>All Appointments</h5>
                        </div>
                        <div class="ibox-content">
                            <div class="jqGrid_wrapper">
                                <table id="table_list_2"></table>
                                <div id="pager_list_2"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="float-right">
                <strong>Copyright</strong> AGHS  &copy; 2020
            </div>
        </div>

        </div>
        </div>

    <!-- Mainly scripts -->
    <script src="../assets/js/jquery-3.1.1.min.js"></script>
    <script src="../assets/js/popper.min.js"></script>
    <script src="../assets/js/bootstrap.js"></script>
    <script src="../assets/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="../assets/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- jqGrid -->
    <script src="../assets/js/plugins/jqGrid/i18n/grid.locale-en.js"></script>
    <script src="../assets/js/plugins/jqGrid/jquery.jqGrid.min.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="../assets/js/main.js"></script>
    <script src="../assets/js/plugins/pace/pace.min.js"></script>

    <script src="../assets/js/plugins/jquery-ui/jquery-ui.min.js"></script>


    <script>
        $(document).ready(function () {
                $("#table_list_2").jqGrid({
                    url:'http://localhost:8080/data/Appointments',
                    datatype: "json",
                    height: 400,
                    scroll:true,
                    autowidth: true,
                    shrinkToFit: true,
                    rowNum: 20,
                    rowList: [10, 20, 30],
                    colNames:['Patient_id','FirstName', 'LastName', 'Addresses','Email','Marital_status','TelePhone','Age','Sex','Reason','Doctor','Date_of_appointment','Time_of_appointment','Payment_method'],
                    colModel:[
                        {name:'Patient_id',index:'Patient_id', editable: true, width:100, sorttype:"int",search:true},
                        {name:'FirstName',index:'Firstname', editable: true, width:100, sorttype:"date"},
                        {name:'LastName',index:'Lastname', editable: true, width:100},
                        {name:'Addresses',index:'Addresses', editable: true, width:100, align:"right",sorttype:"string", formatter:"string"},
                        {name:'Email',index:'Email', editable: true, width:100, align:"right",sorttype:"float"},
                        {name:'Marital_status',index:'Marital_status', editable: true, width:100, align:"right",sorttype:"float"},
                        {name:'TelePhone',index:'TelePhone', editable: true, width:80,align:"right",sorttype:"float"},
                        {name:'Age',index:'Age', editable: true, width:100, sortable:false},
                        {name:'Sex',index:'Sex', editable: true, width:100, sortable:false},
                        {name:'Reason',index:'Reason', editable: true, width:100, sortable:false},
                        {name:'Doctor',index:'Doctor', editable: true, width:100, sortable:false},
                        {name:'Date_of_appointment',index:'Date_of_appointment', editable: true, width:100, formatter:"date", sortable:false},
                        {name:'Time_of_appointment',index:'Time_of_appointment', editable: true, width:100, sortable:false},
                        {name:'Payment_method',index:'Payment_method', editable: true, width:100, sortable:false}
                    ],
                    pager: "#pager_list_2",
                    viewrecords: true,
                    caption: "All Appointments",
                    add: true,
                    edit: true,
                    addtext: 'Add',
                    edittext: 'Edit',
                    hidegrid: false,
                    editurl: 'http://localhost:8080/data/Appointments'
                });

                // Add selection
                $("#table_list_2").setSelection(4, true);


                // Setup buttons
                $("#table_list_2").jqGrid('navGrid', '#pager_list_2',
                    {edit: true, add: true, del: true, search: true},
                    {height: 200, reloadAfterSubmit: true}
                );

                // Add responsive to jqGrid
                $(window).bind('resize', function () {
                    var width = $('.jqGrid_wrapper').width();
                    $('#table_list_1').setGridWidth(width);
                    $('#table_list_2').setGridWidth(width);
                });


                setTimeout(function(){
                    $('.wrapper-content').removeClass('animated fadeInRight');
                },700);
        });

    </script>
</body>

</html>
